[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygal = "*"
"jinja2" = "*"
pytest = "*"
tinydb = "*"
click = "*"

[dev-packages]
ptpython = "*"
pycodestyle = "*"

[requires]
python_version = "3.6"
